{% extends 'template.html' %}
{% block title %} - Actualités Electro{% endblock %}
{% block content %}
<div style="margin-left:2em">
<button type="button" class="btn btn-success">Actualités</button>
</div>
<br>
<div style="margin-left:4em">
    <div class="row justify-content-evenly">
    <div class="d-grid gap-2 d-md-block">
        <a type="button" class="btn btn-outline-secondary" href="/actua_jazz">Jazz</a>
        <a type="button" class="btn btn-outline-secondary" href="/actua_rock" >Rock</a>
        <a type="button" class="btn btn-outline-primary" href="/actua_electro">Electro</a>
    </div>
    </div>
</div>
<br><br>
<table class="table table-striped">
  <table>
    <thead>
      <tr>
        <th scope="col">Genre de musique</th>
        <th scope="col">Nom de l'évenement</th>
        <th scope="col">Date de l'évenement</th>
      </tr>
    </thead>
    <tbody>
    {% for value in summary %}
    {% if value['type'] == "electro" %}
      <tr>
           <td> {{ value['type'] }} </td>
           <td> {{ value['nom'] }} </td>
           <td> {{ value['date'] }} </td> 
      </tr>
    {% endif %}
    {%  endfor %}
    </tbody>
  </table>
  <br><br>
<div style="margin-left:2em">
<button type="button" class="btn btn-success">Commentaires</button>
</div>
<p>
<div style="margin-left:4em">
0 Commentaire
</div>
<p>
    <div style="margin-left:2em">
        <button type="button" class="btn btn-success">Poster un nouveau commentaire</button>
    </div>
<p></p>
<div style="margin-left:4em" class="input-group">
    <input type="text" id="name" name="name" size="10" value="Nom" />
    <input type="text" id="commentaire" name="commentaire" size="75" value="Mon commentaire" />
    <button type="button" class="btn btn-light">Envoyer</button>
</div>
{% endblock %}